{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<h1> Welcome to Polls index Page</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> <!--name spaced representations-->
        <li><a href="{% url 'figma:home' %}">Go Back to Home Page</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

