{% load static %}

<center>
    <link rel="stylesheet" href="{% static 'figma/style.css' %}">
    <h1>Hello, The following section is created using Figma.</h1>
    <li><a href="{% url 'polls:index' %}">Link to Polls App</a></li>

    <!-- <img src="{% static 'figma/images/background.png' %}" alt="My image"> -->
    
    
</center>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWWA | Figma-SVG Assignment</title>

    <!--Google Font-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Raleway:ital,wght@1,900&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inter:wght@400;500&family=Raleway:ital,wght@1,900&display=swap');
    </style>

    <!--Styling the table-->
    <style>
        .marksTable {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        .marksTable thead tr {
            background-color: navy;
            color: bisque;
            text-align: center;
            font-weight: bold;
        }

        .marksTable th 
        .marksTable td {
            padding: 12px 15px;
        }

        .marksTable tbody tr {
            border-bottom: 1px solid rgb(126, 123, 123);
            text-align: center;
        }

    </style>
</head>
<body>

    <!--***************************************************************************************************************************************************************-->
    <center>
        <h1 style="color:navy">
            Software Engineering with Web Applications
        </h1>

        <h2 style="font-family: 'Raleway', sans-serif;"><u>My first Figma Implementation</u></h2>

        <div style="position: relative;width: 1440px;height: 1024px;background: #8A83DB;border-radius: 150px 75px 200px;">
            <header>
                <h2>
                    <span><img src="{% static 'figma/images/owl2.png' %}" style="position: absolute;width: 140px;height: 141px;left: 120px;top: 14px;"/></span>
                </h2> 
                <nav>
                    <a href="#" style="position: absolute;width: 135px;height: 34px;left: 749px;top: 50px;font-family: 'Inter';font-style: normal;font-weight: 800;font-size: 28px;line-height: 34px;text-decoration: none;color: #361F67;">About Me</a>
                    <a href="https://www.linkedin.com/in/anurag-bambardekar/" style="position: absolute; width: 167px; height: 34px; left: 914px; top: 50px; font-family: 'Inter'; font-style: normal; font-weight: 800; font-size: 28px; line-height: 34px;text-decoration: none;color: #361F67;">My LinkedIn</a>
                    <a href="https://github.com/AnuragBambardekar" style="position: absolute; width: 99px; height: 34px; left: 1111px; top: 50px; font-family: 'Inter'; font-style: normal; font-weight: 800; font-size: 28px; line-height: 34px; text-decoration: none;color: #361F67;">GitHub</a>
                    <a href="#" style="position: absolute; width: 112px; height: 34px; left: 1240px; top: 50px; font-family: 'Inter'; font-style: normal; font-weight: 800; font-size: 28px; line-height: 34px; text-decoration: none; color: #361F67;">Contact</a>
                </nav>
            </header>

            <div>
                <div style="position: absolute; width: 472px; height: 33px; left: 120px; top: 229px; font-family: 'Inter'; font-style: normal; font-weight: 800; font-size: 24px; line-height: 119.02%; /* or 29px */ letter-spacing: -0.02em; color: rgba(81, 61, 201, 0.8); text-align: left;">Welcome to my website</div>
                <div style="position: absolute; width: 472px; height: 156px; left: 120px; top: 278px; font-family: 'Inter'; font-style: normal; font-weight: 800; font-size: 60px; line-height: 119.02%; /* or 71px */ letter-spacing: -0.02em; color: #000000; text-align: left;">Hi! I am Anurag Bambardekar</div>
                <div style="position: absolute; width: 472px; height: 393px; left: 120px; top: 465px; font-family: 'Hind Siliguri'; font-style: normal; font-weight: 400; font-size: 23px; line-height: 119.02%; /* or 27px */ letter-spacing: -0.02em; color: rgba(22, 1, 151, 0.9); text-align: left;">I am a self-taught programmer with a passion for learning and understanding everything about the programming world. I began my journey as an Electronics & Telecommunication Engineer. However, my desire to excel in programming led me to a full-stack software engineering job upon graduation. While working in the IT industry, I took part and lead in several projects which further piqued my curiosity to learn more which is when I decided to pursue a Master's degree in Electrical & Computer Engineering. So, now I am learning all the cool stuff in the electronics + software world and always seek to apply my learnings wherever I can.</div>
            </div>


            <!--Embedded SVGs using Figma-->
            <div>
                <div style="position: absolute;
                width: 187px;
                height: 133px;
                left: 27px;
                top: 851px;
                
                font-family: 'JejuHallasan';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 32px;
                
                color: #2E4DB9;
                
                mix-blend-mode: color-burn;">Some SVG’s embedded using Figma:</div>
                <span><img src="{% static 'figma/images/Lion.svg' %}" style="position: absolute;
                    width: 193px;
                    height: 201px;
                    left: 222px;
                    top: 815px;"/></span>
                <span><img src="{% static 'figma/images/Star.svg' %}" style="position: absolute;
                    width: 149;
                    height: 149;
                    left: 434;
                    top: 836;"/></span>
                <span><img src="{% static 'figma/images/Wheel.svg' %}" style="position: absolute;
                    width: 200;
                    height: 200;
                    left: 592px;
                    top: 811px;"/></span>

                
            </div>

            <div>
                <div style="position: absolute; width: 554px; height: 564px; left: 798px; top: 196px; background: rgba(200, 187, 230, 0.6); filter: blur(16px); border-radius: 200px 20px;"></div>
                <img src="{% static 'figma/images/myphoto.jfif' %}" style="position: absolute; width: 553px; height: 560px; left: 798px; top: 155px; box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25); border-radius: 200px 20px;">
                <button style="display: flex; flex-direction: row; justify-content: center; align-items: flex-end; padding: 8px 30px; gap: 10px; position: absolute; width: 247px; height: 64px; left: 929px; top: 815px; background: #B4AECB; box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25); border-radius: 20px;">
                    <a href="https://github.com/AnuragBambardekar" style="width: 200px; height: 50px; font-family: 'Hurricane'; font-style: normal; font-weight: 400; font-size: 45px; line-height: 119.02%; /* identical to box height, or 48px */ letter-spacing: -0.02em; color: #160197; /* Inside auto layout */ flex: none; order: 0; flex-grow: 0; text-decoration: none;">See my Projects</a>
                </button>
            </div>


            <div style="position: absolute; width: 1440px; height: 564px; right: -10px; top: 1050px; background: rgba(200, 187, 230, 0.6); border-radius: 200px 20px;">
                <!--***************************************************************************************************************************************************************-->

                <!-- SVG = Scalable Vector Graphics-->
                <div>
                    <center>
                        <h2 style="font-family: 'Raleway', sans-serif;"><u>My first Scalable Vector Graphics</u></h2>

                        <svg width="200" height="200" style="background-color:#ff3400">
                            <!--r=radius, cx,cy is the position of center-->
                            <circle cx="40" cy="40" r="30" stroke="navy" stroke-width="3" fill="green"/>
                            <text x="90" y="30" fill="Orange" font-size="2em">Circle</text>
                            
                            <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(217, 0, 255);stroke-width:2" />
                            
                            <ellipse cx="100" cy="80" rx="50" ry="25" style="fill:rgb(0, 68, 255);stroke:purple;stroke-width:2; transform-origin: center; transform: rotate(45deg);" />
                            <text x="60" y="90" fill="black" font-size="1.8em"  style="transform-origin: center; transform: rotate(45deg);">Ellipse</text>

                            <polygon points="40,100 10,150 170,190 " style="fill:rgb(179, 0, 255);stroke:rgb(238, 216, 16);stroke-width:5;fill-rule:nonzero;" />
                        </svg>

                        <svg width="200" height="200" x="200" style="background-color:#b700ff;transform-origin: center; transform: rotate(15deg);" >
                            <!--Rectangle in SVG-->
                            <text x="70" y="40" fill="yellow">Rectangle</text>
                            <rect x="60" y="60" width="75" height="75" stroke="navy" stroke-width="3" fill="yellow"/>

                            <!--Square in SVG-->
                            <text x="75" y="100" fill="red">Square</text>
                            <rect x="50" y="20" width="100" height="30" style="fill:rgb(255, 242, 0);stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
                        </svg>

                        <svg width="200" height="200" style="background-color:whitesmoke" style="border:1px solid black">
                            <!--rectangle with rounded corners-->
                            <rect x="3" y="2" rx="15" ry="15" width="195" height="195" stroke="black" fill="transparent" stroke-width="5"/>
                            <!--Embedding my GitHub link-->
                            <svg width="200" height="200" style="background-color:whitesmoke" style="border:1px solid black">
                                <a href="https://github.com/AnuragBambardekar">
                                    <text x="60" y="30" fill="navy">My GitHub</text>
                                    <image href="{% static 'figma/images/github_logo.png' %}" x="50" y="50" height="100px" width="100px"/>
                                </a>
                            </svg>
                        </svg>
                        
                        <svg width="200" height="200" style="background-color:whitesmoke" style="border:1px solid black">
                            <path d="M100 0 0 200 L200 200 Z" />  
                            <!--L = lineto, Z = closepath, M = moveto-->
                            <circle cx="100" cy="140" r="60" stroke="whitesmoke" stroke-width="6" fill="none"/>
                            <line x1="100" y1="0" x2="100" y2="200" style="stroke:rgb(246, 246, 246);stroke-width:6" />
                        </svg>

                        <svg height="200" width="200" style="background-color:rgb(170, 198, 176)" style="border:1px solid black">
                            <text x="10" y="20" style="fill:rgb(52, 13, 152);font-family: 'Raleway', sans-serif;">
                            <tspan x="10" y="45" font-style="italic" >Anurag</tspan>
                            <tspan x="10" y="70" font-style="italic" >Himanshu</tspan>
                            <tspan x="10" y="95" font-style="italic" >Bambardekar</tspan>
                            <tspan x="10" y="120">Rutgers University - ECE</tspan>
                            </text>
                        </svg>

                        <svg height="200" width="200">
                            <defs>
                                <filter id="f1" x="0" y="0">
                                <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
                                </filter>
                            </defs>
                            <rect width="90" height="90" x="0" y="0" stroke="green" stroke-width="3" fill="green" filter="url(#f1)" />
                            <rect width="90" height="90" x="100" y="0" stroke="red" stroke-width="3" fill="red" filter="url(#f1)" />
                            <rect width="90" height="90" x="0" y="100" stroke="blue" stroke-width="3" fill="blue" filter="url(#f1)" />
                            <rect width="90" height="90" x="100" y="100" stroke="yellow" stroke-width="3" fill="yellow" filter="url(#f1)" />
                        </svg>

                        <!--SVG filters are defined within a <defs> element. <defs> element is short for definitions and contains definition of special elements (such as filters)-->
                        <!--<filter> element has a required id attribute which identifies the filter.-->
                        <!--<feOffset> element is used to create drop shadow effects-->
                        <!--stdDeviation attribute of the <feGaussianBlur> element defines the amount of the blur-->
                        <!--"SourceAlpha" uses the Alpha channel for the blur instead of the entire RGBA pixel-->
                        <svg height="200" width="200">
                            <defs>
                                <filter id="f3" x="0" y="0" width="200%" height="200%">
                                    <feOffset result="offOut" in="SourceAlpha" dx="20" dy="20" />
                                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
                                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                                </filter>
                            </defs>
                            <rect width="130" height="130" x="30" y="30" stroke="green" stroke-width="3" fill="navy" filter="url(#f3)" style="transform-origin: center; transform: rotate(15deg);" />
                            <image href="{% static 'figma/images/rutgers.png' %}" x="20" y="20" height="150px" width="150px"/>
                        </svg>

                        <svg width="200" height="200" style="background-color:rgb(22, 112, 42)">
            
                            <polygon points="60,30 90,90 30,90"> <!--x,y coordinate-->
                                <animateTransform attributeName="transform"
                                    attributeType="XML" type="rotate" 
                                    from="0 60 70" to="360 60 70"
                                    dur="5s" repeatCount="indefinite" />
                            </polygon>

                            <polygon points="130,30 160,90 100,90"> <!--x,y coordinate-->
                                <animateTransform attributeName="transform"
                                    attributeType="XML" type="rotate" 
                                    from="360 130 60" to="0 130 80"
                                    dur="5s" repeatCount="indefinite" />
                            </polygon>
                        </svg>

                        <svg width="200" height="200" style="background-color:rgb(49, 99, 208)">
                            <polygon points="50,30 150,30 150,165 50,165" style="fill:rgb(227, 227, 228); stroke:black; stroke-width:1;">
                            <!-- from,to ==> 0,360 starting and end position, and x,y coordinates-->
                            <animateTransform attributeName="transform"
                                    attributeType="XML" type="rotate" 
                                    from="0 100 90" to="360 100 90"
                                    dur="5s" repeatCount="indefinite" />
                            </polygon>
                            <image href="{% static 'figma/images/owl.png' %}" x="30" y="20" height="200px" width="200px"/>
                            <polygon points="50,30 150,30 150,165 50,165" fill-opacity="0.4" style="fill:rgb(227, 227, 228); stroke:black; stroke-width:1;">
                                <!-- from,to ==> 0,360 starting and end position, and x,y coordinates-->
                                <animateTransform attributeName="transform"
                                        attributeType="XML" type="rotate" 
                                        from="360 100 90" to="0 100 90"
                                        dur="5s" repeatCount="indefinite" />
                                </polygon>
                        </svg>
                        
                    </center>
                </div>

                <!--***************************************************************************************************************************************************************-->
                <!--XML Parsing and Displaying it in a HTML table-->
                <div style="background-color: #6a5892;">
                    <center>
                        <h2 style="font-family: 'Raleway', sans-serif;"><u>XML Demonstration</u></h2>
                        <hr>
                        <!--Creating a table and populating it with the XML content-->
                        <table class="marksTable" id="marks" cellpadding="10px" style="text-align:left">
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Physics Marks</th>
                                    <th>Chemistry Marks</th>
                                    <th>Maths Marks</th>
                                    <th>Biology Marks</th>
                                    <th>History & Civics Marks</th>
                                    <th>Geography Marks</th>
                                </tr>
                            </thead>
                        </table>

                        <script>
                            let xmlContent = '';
                            //Fetch the marks table reference
                            let tableMarks = document.getElementById('marks');

                            //Fetching will return promise and we get the XML data
                            fetch("{% static 'figma/images/marks.xml' %}").then((res) => {
                                res.text().then((xml) => {
                                    xmlContent = xml;
                                    //console.log(xmlContent)
                                    let parser = new DOMParser(); //Constructor
                                    let xmlDOM = parser.parseFromString(xmlContent, 'application/xml');
                                    let marks = xmlDOM.querySelectorAll('student');

                                    //I was trying to parse the "id" attribute 
                                    //I did parse it out, but was unable to populate it in the table
                                    /* var ids = [];
                                    var studentIDS = xmlDOM.getElementsByTagName("student");
                                    Array.from(studentIDS).forEach(function(student) {
                                        ids.push(student.getAttribute("id"));
                                    });
                                    console.log(ids); */
                                    
                                    console.log(marks)

                                    marks.forEach(marksXmlNode => {
                                        let body = document.createElement('tbody');
                                        let row = document.createElement('tr');
                                        body.appendChild(row)

                                        //Name
                                        let td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[0].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        //Student ID
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[1].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        //Physics Marks
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[2].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)
                                        
                                        //Chemistry Marks
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[3].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        //Mathematics Marks
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[4].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        //Biology Marks
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[5].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        //History&Civics Marks
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[6].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        //Geography Marks
                                        td = document.createElement('td');
                                        td.innerText = marksXmlNode.children[7].innerHTML;
                                        row.appendChild(td);
                                        console.log(td)

                                        console.log(body.appendChild(row));
                                        console.log(tableMarks.appendChild(body));
                                    })
                                });
                            });

                            //My attempt to fetch RSS feed from bbc.co.uk
                            //Will not work due to CORS error. Reserving it for future work
                            //when we will use web servers
                            /* fetch('http://feeds.bbci.co.uk/news/science_and_environment/rss.xml').then((res) => {
                                res.text().then((xml) => {
                                    xmlContent = xml;
                                    console.log(xmlContent)
                                });
                            }); */
                        </script>
                        
                    </center>
                </div>

                <!--***************************************************************************************************************************************************************-->

                <div>
                    <center>
                        
                        <style>
                            #my_dataviz{
                                fill: navy;
                                background-color: #656c9d;
                            }
                        </style>
                        <div id="my_dataviz">
                            <h2 style="font-family: 'Raleway', sans-serif;"><u>D3.js Demonstration</u></h2>
                            <hr>
                        </div>
                        
                    
                        <script src="https://d3js.org/d3.v7.min.js"></script>
                        <script>
                    
                            // set the dimensions and margins of the graph
                            const margin = {top: 30, right: 30, bottom: 70, left: 90},
                                width = 660 - margin.left - margin.right,
                                height = 600 - margin.top - margin.bottom;
                            
                            // append the svg object to the body of the page
                            const svg = d3.select("#my_dataviz")
                            .append("svg")
                                .attr("width", width + margin.left + margin.right)
                                .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                                .attr("transform", `translate(${margin.left},${margin.top})`);
                            
                                svg.append("text")
                                    .attr("x", 300)
                                    .attr("y", 20)
                                    .attr("text-anchor", "middle")
                                    .style("font-size", "24px")
                                    .text("World Population - 2023");
                            
                            // Parse the Data
                            d3.csv("{% static 'figma/images/data.csv' %}").then( function(data) {
                            
                            // X axis
                            const x = d3.scaleBand()
                            .range([ 0, width ])
                            .domain(data.map(d => d.country))
                            .padding(0.2);
                            svg.append("g")
                            .attr("transform", `translate(0, ${height})`)
                            .call(d3.axisBottom(x))
                            .selectAll("text")
                            .attr("font-size","12px")
                            .attr("transform", "translate(-10,0)rotate(-45)")
                            .style("text-anchor", "end");
                            
                            // Add Y axis
                            const y = d3.scaleLinear()
                            .domain([0, 1500000000])
                            .range([ height, 0]);
                            svg.append("g")
                            .call(d3.axisLeft(y))
                            .attr("font-size","12px");
                            
                            // Bars
                            svg.selectAll("mybar")
                            .data(data)
                            .join("rect")
                                .attr("x", d => x(d.country))
                                .attr("y", d => y(d.population))
                                .attr("width", x.bandwidth())
                                .attr("height", d => height - y(d.population))
                                .attr("fill", "#69b3a2")
                            
                            })
                            </script>
                    </center>
                </div>


                <!--***************************************************************************************************************************************************************-->
                <style>
                    .wrapper{
                            height: 400px;
                            width: 1000px;
                            position: relative;
                            background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
                            border-radius: 200px;
                            cursor:crosshair;
                            animation: animate 5.5s linear infinite;
                        }
                        
                        .wrapper .display,
                        .wrapper span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        
                        .wrapper .display{
                            z-index: 999;
                            height: 200px;
                            width: 850px;
                            background: #1b1b1b;
                            border-radius: 6px;
                            text-align: center;
                        }
                        .display #time{
                            line-height: 90px;
                            color: #fff;
                            font-size: 70px;
                            font-weight: 600;
                            letter-spacing: 2px;
                            background: linear-gradient(5deg, #1c14ff, #05e505, #e40509);
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                            animation: animate 1.5s linear infinite;
                        }
                        @keyframes animate {
                            100%{
                                filter: hue-rotate(360deg);
                            }
                        }
                        
                        .wrapper span{
                            height: 100%;
                            width: 100%;
                            border-radius: 10px;
                            background: inherit;
                        }
                        
                        .wrapper span:first-child{
                            filter: blur(7px);
                        }
                        
                        .wrapper span:last-child{
                            filter: blur(20px);
                        }

                </style>

                <center>
                    <h2 style="font-family: 'Raleway', sans-serif;"><u>Digital Clock using JavaScript Demonstration</u></h2>
                    <hr>
                <div class="wrapper">
                    <div class="display">
                    <div id="time"></div>
                    <p id="dom" style="padding-top: 10px;"></p>
                    </div>
                </div>
                </center>
                <script>
                        const element = document.getElementById("dom");
                        document.getElementById("dom").innerHTML = 
                        "A Digital Clock " + element.innerHTML;


                        setInterval(()=>{
                        const time = document.querySelector(".display #time");
                        let date = new Date();
                        console.log(date)
                    
                        let hours = date.getHours();
                        let minutes = date.getMinutes();
                        let seconds = date.getSeconds();
                        let year = date.getFullYear();
                        //console.log(year)
                        
                        let d = date.getDay();//Sunday = 0, Monday = 1,
                        let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        let day = days[d];
                        //console.log(day);

                        let m = date.getMonth();
                        let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        let month = months[m];
                        //console.log(month);

                        let offset = date.getTimezoneOffset();
                        offset = offset/60;
                        console.log(offset)
                        //will only work for North American Timezones for now
                        if (offset === 5) {
                            timezone = "EST"; //Eastern Standard Time
                        } else if (offset === 6) {
                            timezone = "CST"; //Central Standard Time
                        } else if (offset === 7) {
                            timezone = "MST"; //Mountain Standard Time
                        } else if (offset === 8) {
                            timezone = "PST"; //Pacific Standard Time
                        } else if (offset === 9) {
                            timezone = "AST"; //Alaska Standard Time
                        } else if (offset === 10) {
                            timezone = "HST"; //Hawaii Standard Time
                        } else {
                            timezone = "Unknown Standard Time";
                        }

                        //console.log(timezone)

                        let dateToday = date.getDate();
                        //console.log(dateToday);

                        let day_night = "AM";
                        if(hours > 12){
                            day_night = "PM";
                            hours = hours - 12;
                        }
                        if(seconds < 10){
                            seconds = "0" + seconds;
                        }
                        if(minutes < 10){
                            minutes = "0" + minutes;
                        }
                        if(hours < 10){
                            hours = "0" + hours;
                        }
                        time.textContent = day + " " + month + " " + dateToday + " " + hours + ":" + minutes + ":" + seconds + " "+ day_night + " " + timezone;
                    });
                </script>

                <center>
                    <footer style="background-color: #e4e9e0; align-items: center; font-weight: 300; font-size: x-large; font-family: 'Hurricane'">
                        AnuragBambardekar | Spring 2023 | ECE
                    </footer>
                </center>
            </div>

        </div>
    </center>

    

</body>
</html>